/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.shadow-cljs
/.cpcache
/node_modules
/resources/public/js

### VS Code ###
.vscode/
.lsp/
.clj-kondo/
.calva/

### IntelliJ IDEA ###
.idea/