/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
*.jfr
/.lein-*
/.nrepl-port
/.prepl-port
/.shadow-cljs
/.cpcache
/node_modules
/storage
!/lib/jolDockerfile
!/lib/assmble-jol.sh

### VS Code ###
.vscode/
.lsp/
.clj-kondo/
.calva/

### IntelliJ IDEA ###
.idea/
